<h2><%= @article.title %></h2>

<div class='article-body'>
  <%= raw Cmark.to_html(@article.body) %>
</div>

<div class='article-footer'>
  <ul>
    <li><%= format_date(@article.publish_date) %></li>
    <li><%= @article.author %> </li>
  </ul>
</div>
