config :wiseideas_blog, WiseideasBlog.Repo,
  adapter: Ecto.Adapters.Postgres,
  hostname: "localhost",
  username: System.get_env("PG_USER"),
  password: System.get_env("PG_PASSOWRD"),
  database: "development" <> System.get_env("TEST_ENV_NUMBER"),
  pool: Ecto.Adapters.SQL.Sandbox
